base:
    # Environment configs
    output_path: "exps/aider"

    env:
        run_timeout: 20

    terminal:
        type: "docker"  # "docker", "kubernetes", or "local"

    dataset:
        type: "aider"
        problems: "all"  # list of problems, e.g., ["wordy"], or "all"

    # LLM configs
    llm_name: "gpt-4o"

    # Agent configs
    random_seed: 42
    max_steps: 50
    max_rewrite_steps: 10
    memory_size: 20
    save_patch: True
    # Optionally loads a custom system prompt template from a file.
    # system_prompt_template_file: "script/templates/system_prompt.jinja"

    # Shortcut features
    "show_current_breakpoints": False  # If True, the environment will automatically show the current breakpoints at every step in the system prompt.

rewrite_agent:
    tools:
        - grep
        - view
        - rewrite
        - eval

debug_agent:
    tools:
        - grep
        - pdb
        - view
        - rewrite
        - eval

debug_5_agent:
    n_rewrites_before_pdb: 5
    tools:
        - grep
        - pdb
        - view
        - rewrite
        - eval
