base:
    # Environment configs
    output_path: "exps/re2gym"

    env:
        run_timeout: 300

    dataset:
        type: "r2egym"
        problems: "all"  # list of problems, e.g., ["aiohttp_final:d7cd0613472fd4d9940e37f1c55921f6a1515324"], or strings like "d1-valid" (defined in gym/envs/configs), or "all",
        dataset_id: "R2E-Gym/R2E-Gym-Lite"
        dataset_revision: "8d3163011f01f9393bb3dc7700497a79a8686ae5"

    terminal:
        type: "docker"  # "docker", "kubernetes"

    # LLM configs
    llm_name: "gpt-4o"

    # Agent configs
    random_seed: 42
    max_steps: 50
    max_rewrite_steps: 10
    memory_size: 20
    save_patch: True
    # Optionally loads a custom system prompt template from a file.
    # system_prompt_template_file: "script/templates/system_prompt.jinja"

    # Shortcut features
    "show_current_breakpoints": False  # If True, the environment will automatically show the current breakpoints at every step in the system prompt.

froggy_agent:
    tools:
        - grep
        - pdb
        - view
        - rewrite
        - listdir
        - eval

solution_agent:
    llm_name: "human"  # No need for an LLM.
    tools:
        - eval
        # - pdb
        - submit
