pdb_agent:
    # Environment configs
    output_path: "exps/mini_nightmare/config"
    env_kwargs: {
        "path": "data/mini_nightmare/config",
        "entrypoint": "python -m pytest -sv test.py",
        "debug_entrypoint": "pytest --pdb -s test.py",
        "dir_tree_depth": 1,
        "run_on_rewrite": True,
        "auto_view_change": True,
        "run_timeout": 10,
    }
    tools: ["pdb", "view", "rewrite"]
    terminal: {
        type: "local",  # "docker" or "local"
        base_image: "python:3.12-slim",
    }
    persistent_breakpoints: True  # in pdb tool
    auto_list: True  # in pdb tool

    # LLM configs
    llm_name: "gpt-4o-az-login"
    llm_temperature: [0.5]  # list of values between 0.0 and 1.0

    # Agent configs
    random_seed: 42
    max_steps: 100
    max_rewrite_steps: 10
    memory_size: 10
    use_conversational_prompt: True
    save_patch: True
    log_prompt_response_pairs: True
    reset_prompt_history_after_rewrite: True

rewrite_only:
    # Environment configs
    output_path: "exps/mini_nightmare/config"
    env_kwargs: {
        "path": "data/mini_nightmare/config",
        "entrypoint": "python -m pytest -sv test.py",
        "debug_entrypoint": "pytest --pdb -s test.py",
        "dir_tree_depth": 1,
        "run_on_rewrite": True,
        "auto_view_change": True,
        "run_timeout": 10,
    }
    tools: ["view", "rewrite"]
    terminal: {
        type: "local",  # "docker" or "local"
        base_image: "python:3.12-slim",
    }
    persistent_breakpoints: True  # in pdb tool
    auto_list: True  # in pdb tool

    # LLM configs
    llm_name: "gpt-4o-az-login"
    llm_temperature: [0.5]  # list of values between 0.0 and 1.0

    # Agent configs
    random_seed: 42
    max_steps: 100
    max_rewrite_steps: 10
    memory_size: 10
    use_conversational_prompt: True
    save_patch: True
    log_prompt_response_pairs: True
    reset_prompt_history_after_rewrite: True

pdb_after_rewrites:
    # Environment configs
    output_path: "exps/mini_nightmare/config"
    env_kwargs: {
        "path": "data/mini_nightmare/config",
        "entrypoint": "python -m pytest -sv test.py",
        "debug_entrypoint": "pytest --pdb -s test.py",
        "dir_tree_depth": 1,
        "run_on_rewrite": True,
        "auto_view_change": True,
        "run_timeout": 10,
    }
    n_rewrites_before_pdb: 5
    tools: ["view", "rewrite", "pdb"]
    terminal: {
        type: "local",  # "docker" or "local"
        base_image: "python:3.12-slim",
    }
    persistent_breakpoints: True  # in pdb tool
    auto_list: True  # in pdb tool

    # LLM configs
    llm_name: "gpt-4o-az-login"
    llm_temperature: [0.5]  # list of values between 0.0 and 1.0

    # Agent configs
    random_seed: 42
    max_steps: 100
    max_rewrite_steps: 10
    memory_size: 20
    use_conversational_prompt: True
    save_patch: True
    log_prompt_response_pairs: True
    reset_prompt_history_after_rewrite: True