base:
    # Environment configs
    output_path: "exps/swesmith"

    env:
        # type: "swesmith"  # Not needed Will be inferred from dataset.
        run_timeout: 300

    dataset:
        type: "swesmith"
        dataset_id: "SWE-bench/SWE-smith"
        problems: "all"  # list of problems, e.g., ["astropy__astropy-12907"], or strings like "test-125" (defined in gym/envs/configs), or "all",

    terminal:
        type: "docker"

    # LLM configs
    llm_name: "gpt-4o"

    # Agent configs
    random_seed: 42
    max_steps: 50
    max_rewrite_steps: 10
    memory_size: 20
    save_patch: True
    # Optionally loads a custom system prompt template from a file.
    # system_prompt_template_file: "script/templates/system_prompt.jinja"

    # Shortcut features
    "show_current_breakpoints": False  # If True, the environment will automatically show the current breakpoints at every step in the system prompt.

rewrite_agent:
    tools:
        - grep
        - view
        - rewrite
        - listdir
        - eval

debug_agent:
    tools:
        - grep
        - pdb
        - view
        - rewrite
        - listdir
        - eval

debug_5_agent:
    n_rewrites_before_pdb: 5
    tools:
        - grep
        - pdb
        - view
        - rewrite
        - listdir
        - eval

solution_agent:
    llm_name: null  # No need for an LLM.
    tools:
        - eval
        # - pdb
        - submit
