base:
    # Environment configs
    output_path: "exps/pytorch"
    env_kwargs: {
        "path": "data/pytorch",
        "entrypoint": "python -m pytest -sv test.py",
        "debug_entrypoint": "python -m pdb -m pytest -s test.py",
        "run_timeout": 10,
    }
    tools: ["pdb", "view", "rewrite"]
    terminal: {
        type: "docker",  # "local", "docker", or "kubernetes"
    }

    # LLM configs
    llm_name: "gpt-4o"

    # Agent configs
    random_seed: 42
    max_steps: 50
    max_rewrite_steps: 10
    memory_size: 20
    save_patch: True
    reset_prompt_history_after_rewrite: False
    # Optionally loads a custom system prompt template from a file.
    # system_prompt_template_file: "script/templates/system_prompt.jinja"

    # Shortcut features
    "show_current_breakpoints": False  # If True, the environment will automatically show the current breakpoints at every step in the system prompt.
    "show_directory_tree": 0  # Value indicated the depth of the directory shown in the system prompt. 0 means no directory tree is shown.

rewrite_agent:
    tools:
        - grep
        - view
        - rewrite
        - eval:
            auto_eval_on_rewrite: False  # If True, the environment will automatically call the Eval tool after a successful rewrite. If this is set to True, the agent does not need to call the Eval tool itself.

debug_agent:
    tools:
        - grep
        - pdb
        - view
        - rewrite
        - eval

debug_5_agent:
    n_rewrites_before_pdb: 5
    tools:
        - grep
        - pdb
        - view
        - rewrite
        - eval
