base:
    # Environment configs
    output_path: "exps/mini_nightmare"
    benchmark: "mini_nightmare"
    problems: "all"  # list of problems, e.g., ["config"], or "all"
    env_kwargs: {
        "entrypoint": "python -m pytest --tb=no -s test.py",
        "dir_tree_depth": 1,
        "run_timeout": 30,
        # shortcut features
        "auto_eval_on_rewrite": False,  # If True, the environment will automatically call the Eval tool after a successful rewrite. If this is set to True, the agent does not need to call the Eval tool itself.
        "show_current_breakpoints": False,  # If True, the environment will automatically show the current breakpoints at every step in the system prompt.
        "show_directory_tree": True,  # If set to True, the environment will show the directory tree in the system prompt.
        "persistent_breakpoints": True,  # If True, the environemnt will keep a set of breakpoint states across PDB sessions. When a new PDB session is started, the environment will automatically load the breakpoints from the previous session.
        "auto_list": True,  # If True, the environment will automatically call `list .` via the PDB tool after every pdb tool call, which will show the code around the current frame.
    }
    terminal: {
        type: "docker",  # "docker" or "local"
        base_image: "python:3.12-slim",
        # session_commands define commands that are always executed before starting a shell session or running a single command in the terminal.
        # session_commands:["conda activate aider"],
        # setup_commands define commands that are executed only once when the terminal is created. This is only supported for Docker terminal.
        setup_commands: ["pip install pytest pandas"],
    }

    # LLM configs
    llm_name: "gpt-4o"

    # Agent configs
    random_seed: 42
    max_steps: 50
    max_rewrite_steps: 10
    memory_size: 20
    save_patch: True
    reset_prompt_history_after_rewrite: True
    # Optionally loads a custom system prompt template from a file.
    # system_prompt_template_file: "script/templates/system_prompt.jinja"

rewrite_agent:
    tools: ["view", "rewrite", "eval"]

debug_agent:
    tools: ["pdb", "view", "rewrite", "eval"]

debug_5_agent:
    n_rewrites_before_pdb: 5
    tools: ["pdb", "view", "rewrite", "eval"]
