base:
    # Environment configs
    output_path: "exps/swebench-verified"

    env:
        run_timeout: 300

    dataset:
        type: "swebench"
        problems: "all"  # list of problems, e.g., ["astropy__astropy-12907"], or "all"
        dataset_id: "SWE-bench/SWE-bench_Verified"
        dataset_revision: "99450355ca8c611021187a57ffac304b66666738"

    terminal:
        type: "docker"  # "docker" or "kubernetes"

    # LLM configs
    llm_name: "gpt-4o"

    # Agent configs
    random_seed: 42
    max_steps: 50
    max_rewrite_steps: 10
    memory_size: 20
    save_patch: True
    # Optionally loads a custom system prompt template from a file.
    # system_prompt: "script/templates/system_prompt.jinja"

    # Shortcut features
    "show_current_breakpoints": False  # If True, the environment will automatically show the current breakpoints at every step in the system prompt.

solution_agent:
    llm_name: null  # No need for an LLM.
    tools:
        - eval
        - pdb
        - submit

swe_agent:
    max_steps: 100
    max_rewrite_steps: 20
    tools:
        - bash
        - rewrite
        - submit
