base:
    # Environment configs
    output_path: "exps/pytorch"
    env:
        type: "local"
        path: "data/pytorch"
        entrypoint: "python -m pytest -sv test.py"
        debug_entrypoint: "python -m pdb -m pytest -s test.py"
        run_timeout: 10
    terminal:
        type: "docker"  # "local", "docker", or "kubernetes"

    # LLM configs
    llm_name: "gpt-4o"

    # Agent configs
    random_seed: 42
    max_steps: 50
    save_patch: True
    # Optionally loads a custom system prompt template from a file.
    # system_prompt: "script/templates/system_prompt.jinja"

    # Shortcut features
    "show_current_breakpoints": False  # If True, the environment will automatically show the current breakpoints at every step in the system prompt.

froggy_agent:
    tools:
        - grep
        - pdb
        - view
        - edit
        - eval
